.stop_detail section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
    display:-ms-grid;
    -ms-grid-columns:40% 50%;
    -ms-grid-rows:100%;
}

#content {
    -ms-grid-column: 1;
}
#map-container {
    -ms-grid-column:2;
    width:100%;
    height:100%;
    margin-left:20px;
}
#map {
    width: 90%;
    height: 90%;
    position:relative;
}


#arrival-list {
    width: 90%;
    height: 90%;
}

.arrival-item {
	display: -ms-grid;
	-ms-grid-columns: 100px auto;
	-ms-grid-rows: 60px;
}

	.arrival-item p {
		margin:0;
		padding:0;
	}
.arrival-time {
	-ms-grid-column: 1;
	display: block;
	text-align: center;
}

	.arrival-time > p {
		font-weight:bold;
		font-size:25px;
	}
	
	.arrival-time > span {
		text-transform:uppercase;
	}

.arrival-detail {
	-ms-grid-column:2;
}
	.arrival-detail p.notes{
		font-style:italic;
	}

@media screen and (-ms-view-state: snapped) {
    .stop_detail section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
        -ms-grid-rows:100%;
        -ms-grid-columns:100%;
    }
    
    #content {
        -ms-grid-column:1;
        -ms-grid-rows:1;
        margin-top:20px;
    }

    #map-container {
        display:none;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .stop_detail section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
