.calendar section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .calendar section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .calendar section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

#calendar-list {
	width:90%;
	height:90%;
}

.calendar-item {
	width:150px;
	margin-bottom:20px;
}

h3 {
	text-transform:uppercase;
}