.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.route-item {
    display: -ms-grid;
    -ms-grid-columns:100px auto;
    -ms-grid-rows:auto;
}

    .route-item > span {
        -ms-grid-column:1;
        width:100px;
        height:100px;
        background:white;
        color:black;
        display:block;
        text-align:center;
        font-size:28px;
        font-weight:bold;
    }
    .route-item > .route-detail {
        -ms-grid-column:2;
        width:500px;
        margin-left:20px;
    }
